<p>user works!</p>
<!DOCTYPE html>
<html>
    <h2>User Data </h2>
<head>
    <style>
    table,
    th,
    td {
        border: 1px solid black;
    }
    </style>
</head>
<body>
    <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
        </tr>
        <tr>
            <td>John</td>
            <td>24</td>
            <td>20,000</td>
        </tr>
        <tr>
            <td>Adam</td>
            <td>31</td>
            <td>35,000</td>
        </tr>
        <tr>
            <td>Chris</td>
            <td>27</td>
            <td>32,000</td>
        </tr>
    </table>
</body>
</html>

